name: Harden Runner Multi-OS Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  
  job2:
    name: Job2
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner (Audit Mode)
        uses: Prateek-stepsecurity/harden-runner@int
        with:
          egress-policy: audit

      - name: Curl multiple domains
        run: |
          curl -s https://bag.itunes.apple.com
          sleep 2
          curl -s https://swdist.apple.com
          sleep 1
          curl -s https://xp.apple.com
          sleep 2
          curl -s https://swscan.apple.com
          sleep 1
          curl -s https://cloudflare.com
          sleep 2
          curl -s https://aws.amazon.com
          sleep 1
          curl -s https://azure.microsoft.com
          sleep 2
          curl -s https://docs.docker.com
          sleep 1
          curl -s https://kubernetes.io
          sleep 2
          curl -s https://npmjs.com
          
      - name: Curl multiple domains2
        if: true
        run: |
          curl -s https://mesu.apple.com
          sleep 2
          curl -s https://apple.com
          sleep 1
          curl -s https://cds.apple.com
          sleep 2
          curl -s https://help.apple.com
          sleep 1
          curl -s https://configuration.apple.com
          sleep 2
          curl -s https://gdmf.apple.com
          sleep 1
          curl -s https://developer.apple.com
          sleep 2
          curl -s https://stocks-data-service.apple.com
          sleep 1
          curl -s https://kubernetes.io
          sleep 2
          curl -s https://npmjs.com
          
 
